logs
_.log
npm-debug.log_
yarn-debug.log*
yarn-error.log*
lerna-debug.log
report.[0-9]_.[0-9]_.[0-9]_.[0-9]_.json
coverage
\*.lcov
.nyc_output
node_modules/
\*.tsbuildinfo
.npm
.eslintcache
.yarn-integrity
.env
.env.test
.dccache
.vscode/
package-lock.json
tmp

/packages/web.old
/packages/**/out
/packages/**/.env
/packages/**/build
/packages/web/src/index.js
/packages/server/src/utils/errorRespones.js
