.news-list {
  margin: 5rem auto;
  display: flex;
  flex-direction: column;
  width: 90%;
  max-width: 600px;
}
.news-list .confirmation {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  z-index: 1;
}

@media screen and (max-width: 845px) {
  .news-list {
    margin-top: 1rem;
  }
  .news-list .confirmation {
    margin: 0 -10rem 0 4rem;
    transform: translate(-60%);
  }
}
@media screen and (max-width: 767px) {
  .news-list .confirmation {
    transform: translate(-70%);
  }
}
